.main-footer{
    color: white;
    border-top: 1px solid white;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    &__medias{
        display: flex;
        padding: 50px;
        & a>i{
            color: white;
        }
    }   
}

.modal-copy{
    position: absolute;
    bottom: 180px;
    right: 10px;
    background-color: #5B8FB9 ;
    padding-top:16px;
}
.out{
    display: none;
}
